:root {
  --primary-color: #d6c20f;
  --secondary-color: #d6da12;
  --gray: #868686;
  --light: #f8f8f8;
  --white: #fff;
  --black: #000;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease;
}

*::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

section {
  padding: 2rem 6rem;
}

.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--black);
  margin: 100px 0;
  text-align: center;
}

.heading::before {
  content: '';
  border-left: 5px solid var(--primary-color);
  margin-right: 10px;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 24px;
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--black);
}

h1,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  color: var(--black);
  font-weight: 700;
}

h3,
h4 {
  color: var(--black);
  font-weight: 700;
}

nav ul li,
nav ul li a {
  font-size: 1.25rem;
  color: var(--black);
}

/* Nav */

nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.logo {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--black);
  align-items: center;
}

.logo span {
  font-family: 'Raleway', sans-serif;
  color: var(--secondary-color);
}

.logo img {
  margin-right: 8px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul li a {
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--primary-color);
}

#open-btn,
#close-btn {
  display: none;
  cursor: pointer;
}

/* Home */

.home {
  display: flex;
  margin-top: 80px;
  background: url(images/home-image.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.home .content {
  width: 750px;
  color: var(--white);
  margin: auto 0;
  height: 100%;
}

.home .content h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--white);
}

.home .content p {
  font-size: 1.25rem;
  margin: 32px 0;
}

/* About */

.about .container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
}

.about .image {
  flex: 1 1 0;
}

.about .content {
  flex: 1 1 0;
}

.about .content h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  max-width: 700px;
}

.about .content p {
  font-size: 1.25rem;
  color: var(--black);
  margin: 35px 0;
  max-width: 700px;
}

/* Banner 1 */

.banner {
  margin-top: 100px;
  background: url(images/banner-image.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  justify-content: center;
  padding: 3rem 0;
}

.banner-1 {
  display: flex;
}

.banner .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

.banner .box-container .box {
  padding: 10px 15px;
  background-color: var(--black);
  border-radius: 24px;
  border: 1px solid var(--white);
}

.banner .box-container .box:hover {
  border-color: var(--primary-color);
}

.banner-1 .box-container .box {
  display: flex;
  width: 330px;
  height: 100px;
}

.banner-1 .box-container .box .details {
  margin-left: 12px;
}

.banner-1 .box-container .box .details h3 {
  font-size: 2rem;
  color: var(--white);
}

.banner-1 .box-container .box .details span {
  position: absolute;
  color: var(--gray);
  margin-top: -5px;
}

/* Offer */

.offer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  max-width: 1440px;
}

.offer .content {
  flex: 1 1 0;
}

.offer .content h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.offer .content h4 {
  font-size: 1.125rem;
}

.offer .content ul {
  margin: 20px 0;
}

.offer .content ul li {
  margin: 10px 0;
}

.offer .image {
  flex: 1 1 0;
  text-align: right;
}

/* Gallery */

.gallery h4 {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.gallery .slide {
  text-align: center;
  width: 300px;
}

.gallery .slide img {
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: var(--white);
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.gallery .button {
  display: flex;
  justify-content: right;
  margin-top: 24px;
}

/* Banner 2 */

.banner-2 .heading {
  color: var(--white);
  text-shadow: 2px 3px 6px rgba(66, 68, 90, 1);
}

.banner-2 .box-container .box {
  width: 280px;
  height: 140px;
}

.banner-2 .box-container .box h5 {
  font-size: 1rem;
  color: var(--white);
  margin-top: 24px;
  text-align: center;
}

.banner-2 .box-container .box h5::before {
  content: '';
  border-left: 3px solid var(--primary-color);
  margin-right: 10px;
}

.banner-2 .box-container .box p {
  font-size: 0.8rem;
  color: var(--white);
  margin-top: 15px;
  text-align: center;
}

/* Reviews */

.reviews .slide {
  background-color: var(--white);
  border-radius: 24px;
  width: 330px;
  min-height: 415px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reviews .slide .user {
  text-align: center;
  margin-bottom: 30px;
}

.reviews .slide .user h5 {
  font-size: 1.25rem;
  margin-top: 10px;
}

.reviews .slide .user img {
  margin-top: 15px;
}

.reviews .slide .content {
  margin: 0 20px;
}

.reviews .slide .content p {
  margin-bottom: 10px;
}

.reviews .slide span {
  font-weight: 500;
}

.reviews .slide .stars {
  text-align: center;
  margin-top: 50px;
}

/* Contact */

.contact h4 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 75px;
}

.contact .container {
  display: flex;
  flex-direction: column;
}

.contact .container form {
  margin: 0 auto;
}

.contact .container form .input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.contact .container form .box {
  padding: 1.5rem 2rem;
  background-color: var(--light);
  width: 400px;
  margin: 1rem 0;
}

.contact .container form .box:focus,
.contact .container form .box textarea:focus {
  border-bottom: 2px solid var(--primary-color);
}

.contact .container form textarea {
  min-width: 850px;
  resize: none;
}

.contact .container form .button {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contact .small-box-container {
  justify-content: center;
  margin-top: 75px;
}

.contact .small-box-container .small-box {
  display: block;
  text-align: center;
}

.contact .small-box-container .small-box h4 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact .small-box-container .small-box ul li {
  margin-bottom: 20px;
}

.contact .small-box-container .small-box h5 {
  font-size: 1.25rem;
  margin-top: 75px;
  margin-bottom: 30px;
}

.contact .container .map {
  margin-top: 75px;
  min-height: 500;
}

/* Footer */

.footer {
  background-color: var(--black);
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin: 100px 0 50px 0;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  color: var(--white);
}

.footer .box-container .box p {
  color: var(--white);
  text-align: left;
  width: 400px;
  margin: 1rem 0;
}

.footer .box-container .box .social a {
  padding-right: 1.25rem;
}

.footer .box-container .box h3 {
  font-size: 20px;
  color: var(--primary-color);
}

.footer .box-container .box .links {
  display: flex;
  color: var(--white);
  margin: 25px 0;
}

.footer .box-container .box .links:hover {
  color: var(--primary-color);
}

.footer .box-container .box .links img {
  margin-right: 10px;
}

@media (max-width: 1370px) {
  .footer .box-container .box.first-box {
    order: 2;
  }
}

@media (max-width: 1100px) {
  .about .container,
  .offer .container {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .about .image,
  .offer .image {
    order: 2;
    margin: 30px auto 0 auto;
  }

  .about .content,
  .offer .content {
    margin: 0 auto;
  }

  .contact .container form .box {
    width: 300px;
  }

  .contact .container form textarea {
    min-width: 650px;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 2rem 3rem;
  }

  nav {
    padding: 1.5rem;
  }

  nav ul {
    gap: 20px;
  }

  nav ul li a {
    font-size: 18px;
  }

  .home .content {
    width: 700px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2rem;
  }

  #open-btn.active,
  #close-btn.active {
    display: block;
  }

  nav ul {
    position: absolute;
    display: block;
    top: -600%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: 1px solid var(--black);
    margin-top: 4.5rem;
    opacity: 0;
  }

  nav ul.active {
    top: 0;
    opacity: 1;
  }

  nav ul li {
    font-size: 1.5rem;
    padding-left: 1rem;
    border-left: 0.3rem solid var(--primary-color);
    margin: 1.5rem 2rem;
  }

  .home .content {
    width: 500px;
  }

  .home .content h1,
  .about .content h3 {
    font-size: 1.8rem;
  }

  .home .content p {
    font-size: 1rem;
  }

  .contact .container form .input-box {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .contact .container form .box {
    margin: 15px 0;
    width: 400px;
  }

  .contact .container form textarea {
    min-width: 400px;
  }
}

@media (max-width: 520px) {
  section {
    padding: 1rem;
  }

  .home .content {
    width: 440px;
  }

  .about .image img,
  .offer .image img {
    width: 350px;
  }
}

@media (max-width: 450px) {
  .heading,
  .contact h4 {
    font-size: 1.8rem;
  }

  nav {
    padding: 1rem;
  }

  .home {
    margin-top: 70px;
  }

  .home .content {
    width: 280px;
  }

  .about .content h3,
  .contact .small-box-container .small-box h4 {
    font-size: 1.25rem;
  }

  .about .content p,
  .contact .small-box-container .small-box ul li {
    font-size: 1rem;
  }

  .about .image img,
  .offer .image img {
    width: 250px;
  }

  .banner .box-container .box {
    width: 260px;
    min-height: 100px;
  }

  .banner .box-container .box img {
    width: 80px;
    height: 80px;
  }

  .banner .box-container .box .details {
    margin-top: 12px;
  }

  .banner .box-container .box .details h3,
  .offer .content h3 {
    font-size: 1.5rem;
  }

  .banner .box-container .box .details span {
    font-size: 0.8rem;
  }

  .gallery h4 {
    text-align: center;
  }

  .contact .container form .box {
    width: 250px;
  }

  .contact .container form textarea {
    min-width: 250px;
  }

  .footer .box-container {
    row-gap: 50px;
  }

  .footer .box-container .box .links,
  .footer .box-container .box h3 {
    text-align: center;
    justify-content: center;
  }

  .footer .box-container .box p {
    width: auto;
  }
}
